<div>
  <form (ngSubmit)="onSubmit()" #productForm="ngForm">
    <div class="form_wrapper">
      <label for="productName">Nome do Produto</label>
      <input id="productName" name="productName" [(ngModel)]="product.name" required />
    </div>

    <div class="form_wrapper">
      <label for="productPrice">Preço</label>
      <input id="productPrice" name="productPrice" type="number" [(ngModel)]="product.price" required />
    </div>

    <div class="form_wrapper">
      <label for="category">Categoria</label>
      <select id="category" name="category" [(ngModel)]="product.categoryId" required>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>

    <div class="form_wrapper">
      <label for="productImage">Imagem (opcional)</label>
      <input id="productImage" name="productImage" type="text" [(ngModel)]="product.image" />
    </div>

    <button type="submit" [disabled]="!productForm.form.valid">Cadastrar Produto</button>
  </form>
</div>