<div>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form_wrapper">
      <label for="productName">Nome do Produto</label>
      <input id="productName" formControlName="name" required />
    </div>

    <div class="form_wrapper">
      <label for="productPrice">Preço</label>
      <input id="productPrice" formControlName="price" type="number" required />
    </div>

    <div class="form_wrapper">
      <label for="category">Categoria</label>
      <select id="category" formControlName="categoryId" required>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>

    <div class="form_wrapper">
      <label for="productImage">Imagem (opcional)</label>
      <input id="productImage" formControlName="image" type="text" />
    </div>

    <button type="submit" [disabled]="productForm.invalid">Cadastrar Produto</button>
  </form>
</div>
